<p>form-profil works!</p>

<div class="example-container">
    <div class="form-container">
        
      <form [formGroup]="profilForm" (ngSubmit) = "updateProfil()" >

        <input type= "text" placeholder= "username" formControlName = "username" value={{profilForm.username}}>
          <br > 
          <span style="color: red;" *ngIf="username && username.invalid"  >Please enter a Valid input</span><br />
          <br > <br > 

          <input type= "text" placeholder= "email" formControlName = "email" value={{profilForm.email}}>
          <br > 
          <span style="color: red;" *ngIf="email && email.invalid"  >Please enter a Valid input</span><br />
          <br > <br >         

        <input type= "text-area" placeholder= "description" formControlName = "description" value={{profilForm.description}}>
          <br > 
          <span style="color: red;" *ngIf="description  && description.invalid"  >Please enter a Valid input</span><br />
          <br > <br >        

        <button >Modifier</button>
      </form>
    </div>
  </div>