
header {
    text-align: center;
    padding-bottom:  10px;
  }

  a {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .btn-profil{
    align-self: left;
    background-color: lightgreen;
  }

  
  .active {
    color: #666;
    text-decoration: underline;
  }