<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>


<div id=map-mapbox>
</div>

<div class="sidebar" *ngIf="toggled">
    <button (click)=closeSidebar()>
        X
    </button>

    <h1 id="name"> {{location?.name}} </h1>

    <hr>

    <div id="equipment" *ngFor="let equipment of location?.equipments">
        {{equipment.name}}
    </div>
<br>
<hr>
<br>

    <div id="description"> {{location?.description}}
    </div>
</div>