#map-mapbox { 
background-color: red;
position : absolute;

width:100%; 
height: 100%; 
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: #54a;
  transition: 1s ease;
  position: relative;
}