#map-mapbox { 
background-color : #e8f0f0;
position : absolute;
width:100vw; 
height: calc(99vh - 100px); 
}

.sidebar {
  width: 20%;
  min-width:250px;
  height: calc(99vh - 100px) ;
  background-image: linear-gradient(to top, #f1f0ed 0%, rgb(108, 192, 188) 100%);
  transition: 1s ease;
  position: relative;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}


#name{
  min-height: 30px;
  text-align: center;
  font-family: Trebuchet MS, sans-serif	;
}

#equipment{
  margin: 0 10px 0 10px ;
}

#description{
  margin: 0 10px 0 10px ;
}

button {
  background-color: lightseagreen  ;

  border-radius: 4px;
  padding: 2px;
  transition:.5s;
  &:hover{
    background-color: white  ;

  }
}

#btn{
  text-align: center;
}


