form-card {
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
  }

  
  button {
    display: block;
    margin: 20px auto;
  }