 
<div class="example-container">
    <div class="form-container">
        
      <form [formGroup]="locationForm" (ngSubmit) = "addLocation()" >
        <input type= "text" placeholder= "longitude" formControlName = "longitude">
        <br > <br >    

        <input type= "text" placeholder= "latitude" formControlName = "latitude" >
        <br > <br >    

        <input type= "text" placeholder= "name" formControlName = "name">
          <br > 
          <span style="color: red;" *ngIf="name && name.invalid && name.touched"  >Please enter a Valid input</span><br />
          <br > <br >         

        <input type= "text" placeholder= "description" formControlName = "description">
          <br > 
          <span style="color: red;" *ngIf="description  && description.invalid && description.touched"  >Please enter a Valid input</span><br />
          <br > <br >        

        <button [disabled]=locationForm.invalid >Ajouter</button>
      </form>
    </div>
  </div>