  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="locationForm!" (ngSubmit)="updateLocation()" >
       
        <h1>Modifier cette adresse</h1>
        <i>(Modifier une ou plusieurs informations concernant cette adresse)</i>
        <br>
        <br>

      
        <div class="form-field">
            <b>Nom : </b>            
            <input type="text" formControlName="name" value={{location!.name}}>
            <span style="color: red;" *ngIf="name && name.invalid && name.touched">Please enter a Valid input</span>
        </div>
        <div>
          longitude : <input type= "number"  formControlName = "longitude" value={{location!.longitude}} >
          latitude : <input type= "number"  formControlName = "latitude" value={{location!.latitude}}>
        </div>
        <br>

        <div class="checkbox"  *ngFor="let data of Data; let i=index">
          <label>
            <input type="checkbox" [value]="data.value" [checked]="data.checked" (change)="onCheckboxChange($event)" />
            {{data.name}} 
          </label>
        </div>
  
        <div class="form-field">
  
            <b> 
              <br>  Décrivez cet endroit en quelques mots :  </b>
            <textarea  formControlName="description" value={{location!.description}}></textarea>
            <span style="color: red;" *ngIf="description  && description.invalid && description.touched">Please enter a Valid input</span><br />
        </div>
        <div class=" form-button">
       <b> <button [disabled]=locationForm.invalid>Modifier</button> </b> 
      </div>
        <br>
        <br>
  
      </form>
    </div>
  </div>